<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 판매 홈페이지</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="/img/booklogo.png" alt="로고" />
            </div>
            <div class="search">
                <input type="text" placeholder="검색어를 입력하세요">
                <button>
                    <img src="/img/search-icon.png" alt="검색" />
                </button>
            </div>
            <div class="member">
                <a href="#">회원가입</a>
                <a href="#">로그인</a>
                <a href="#">장바구니</a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">베스트셀러</a></li>
                <li><a href="#">신간도서</a></li>
                <li><a href="/main/book/regist">책 추가</a> </li>
                <li><a href="/main/book/modify">책 수정</a></li>
                <li><a href="/main/book/delete">책 삭제</a></li>
                <li><a href="/board.html">게시판</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="book-list">
            <h1>베스트셀러</h1>
            <div class="best-seller-book">
                <div class="book" th:each="book : ${bookList}" th:if="${book.getBookStatus()} == 'BEST'">
                    <h2 class="book-title" th:text="${book.getName()}"></h2>
                    <!-- <p class="book-author">저자1</p> -->
                    <p class="book-price" th:text="${book.getPrice()} + 원"></p>
                </div>
            </div>
        </section>

        <section class="book-list">
            <h1>신간도서</h1>
            <div class="new-book">
                <div class="book" th:each="book : ${bookList}" th:if="${book.getBookStatus()} == 'NEW'">
                    <h2 class="book-title" th:text="${book.getName()}"></h2>
                   <!-- <p class="book-author">저자1</p> -->
                    <p class="book-price" th:text="${book.getPrice()} + 원"></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>도서 판매 홈페이지 &copy; 2023. All Rights Reserved.</p>
    </footer>

</body>
</html>
